<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa de Calor de Accidentes - Medellín</title>
    <!-- Enlace al archivo CSS externo -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>{{ title if title else 'Generador de Mapa de Calor de Accidentes en Medellín' }}</h1>
        
        <!-- Formulario para cargar el archivo -->
        <form action="/" method="POST" enctype="multipart/form-data">
            <label for="file">Cargar archivo CSV:</label>
            <input type="file" name="file" accept=".csv" id="file" required>
            <button type="submit">Subir Archivo</button>
        </form>
        
        {% if barrios %}
            <!-- Formulario para seleccionar el barrio y la jornada de horas -->
            <form action="/filter" method="POST">
                <label for="barrio">Selecciona un Barrio:</label>
                <select name="barrio" id="barrio">
                    <option value="todos" {% if selected_barrio == "todos" %}selected{% endif %}>Todos</option>
                    {% for barrio in barrios %}
                        <option value="{{ barrio }}" {% if selected_barrio == barrio %}selected{% endif %}>{{ barrio }}</option>
                    {% endfor %}
                </select>

                <label for="time_interval">Selecciona Jornada:</label>
                <select name="time_interval" id="time_interval" required>
                    {% for interval in time_intervals %}
                        <option value="{{ interval }}" {% if selected_time_interval == interval %}selected{% endif %}>{{ interval }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Generar Mapa de Calor</button>
            </form>
        {% endif %}
        
        {% if heatmap %}
            <!-- Muestra el mapa de calor embebido en un contenedor bien definido -->
            <iframe src="{{ url_for('uploaded_file', filename='heatmap.html') }}"></iframe>
        {% else %}
            <p class="message">Sube un archivo CSV para generar el mapa de calor.</p>
        {% endif %}
    </div>
    <iframe title="visualizacion" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiOWU2YWNlY2EtYjQxNi00NWY3LTk3YTAtMWNkYTJiMDUxODcxIiwidCI6IjAzZTFiMjI2LTU3ODktNGE5Ny05MGY2LTQ0YTQ0MjQxYmE2ZCIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>    
</body>
</html>
