<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa de Calor de Accidentes - Medellín</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Incidentes Vehiculares en la ciudad de Medellín</h1>
    <div class="container">
        <h2>{{ title if title else 'Accidentes en Medellín' }}</h2>
        
        <!-- Formulario para cargar el archivo -->
        <form action="/" method="POST" enctype="multipart/form-data">
            <label for="file">Cargar archivo CSV:</label>
            <input type="file" name="file" accept=".csv" id="file" required>
            <button type="submit">Subir Archivo</button>
        </form>
        
        {% if barrios %}
            <!-- Formulario para seleccionar el barrio, la jornada de horas, el diseño de la vía y el periodo -->
            <form action="/filter" method="POST" style="margin-top: 20px;">
                <label for="barrio">Selecciona un Barrio:</label>
                <select name="barrio" id="barrio">
                    <option value="todos" {% if selected_barrio == "todos" %}selected{% endif %}>Todos</option>
                    {% for barrio in barrios %}
                        <option value="{{ barrio }}" {% if selected_barrio == barrio %}selected{% endif %}>{{ barrio }}</option>
                    {% endfor %}
                </select>

                <label for="time_interval" style="margin-left: 10px;">Selecciona Jornada:</label>
                <select name="time_interval" id="time_interval" required>
                    {% for interval in time_intervals %}
                        <option value="{{ interval }}" {% if selected_time_interval == interval %}selected{% endif %}>{{ interval }}</option>
                    {% endfor %}
                </select>
                
                <label for="diseno" style="margin-left: 10px;">Selecciona Diseño de Vía:</label>
                <select name="diseno" id="diseno">
                    <option value="todos" {% if selected_diseno == "todos" %}selected{% endif %}>Todos</option>
                    {% for diseno in disenos %}
                        <option value="{{ diseno }}" {% if selected_diseno == diseno %}selected{% endif %}>{{ diseno }}</option>
                    {% endfor %}
                </select>

                <label for="periodo" style="margin-left: 10px;">Selecciona Año:</label>
                <select name="periodo" id="periodo">
                    <option value="todos" {% if selected_periodo == "todos" %}selected{% endif %}>Todos</option>
                    {% for periodo in periodos %}
                        <option value="{{ periodo }}" {% if selected_periodo == periodo %}selected{% endif %}>{{ periodo }}</option>
                    {% endfor %}
                </select>
                
                <button type="submit">Cargar Filtros</button>
            </form>
        {% endif %}
        
        {% if heatmap %}
            <!-- Muestra el mapa de calor embebido en un contenedor bien definido -->
            <iframe src="{{ url_for('uploaded_file', filename='heatmap.html') }}" width="100%" height="500px"></iframe>
        {% else %}
            <p class="message">Sube un archivo CSV para generar los gráficos.</p>
        {% endif %}
        
        {% if line_chart %}
        <h2>Gráfico de Línea de Incidentes por Hora</h2>
        <img src="{{ url_for('uploaded_file', filename='line_chart.png') }}" alt="Gráfico de Incidentes por Hora" width="100%">
        {% endif %}
        
        <iframe title="visualizacion sura" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiODY2OTVhOGMtOGI3MC00NzY1LWIyZTgtOGI2OGJiNDI3NmExIiwidCI6IjAzZTFiMjI2LTU3ODktNGE5Ny05MGY2LTQ0YTQ0MjQxYmE2ZCIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</body>
</html>
